
/* mobile and tablet */
@media ( max-width : 1023px) {
     .header{
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        position: fixed;
        z-index: 99;
    }
    .hide-on-moblie-tablet{
        display: none;
    }
    .header__list-item{
        background-color: #df3346;
        height: 40px;



    }

}

/* tablet */

@media ( min-width: 740) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }

}
/* mobile */
@media (max-width:739px) {
    
    .hide-on-mobile{
        display: none;
    }

   
    
    

}
